<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DownDir" value="Programs"></add>
		<add key="DataFileName" value="VerData.xml"></add>
		<add key="ListFileName" value="ListData.xml"></add>
		<add key="SQLFileName" value="SQLData.xml"></add>
		
		<add key="VerFiles" value="POS.exe;wpt.WinPosTrans.exe"></add>
	</appSettings>
</configuration>
